---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Members from "../components/Members.astro";
import NextSteps from "../components/NextSteps.astro";
import Info from "../components/Info.astro";
import CallForSpeakers from "../components/CallForSpeakers.astro";
import Quote from "../components/Quote.astro";
import Agenda from "../components/Agenda.astro";
import AboutGSF from "../components/AboutGSF.astro";
---

<Layout>
  <Hero />
  <Members />
  <Info />
  <img
    class="separator top"
    src="/images/separator-horizontal.svg"
    alt="Separator"
  />
  <Agenda />
  <img
    class="separator top"
    src="/images/separator-horizontal.svg"
    alt="Separator"
  />
  <Quote />
  <img
  class="separator top"
  src="/images/separator-horizontal.svg"
  alt="Separator"
/>
<AboutGSF />
<div style="max-width: 300px; margin: 2rem auto 0 auto; text-align:center;">
  <a href="#watch-on-demand" class="button">Watch on demand</a>
</div>
</Layout>
