<section class="container wrapper">
  <div>
    <h1 class="section-title">Speaking at <span>Decarbonize Software</span></h1>
    <p>
      Our call for speakers is now open! We're looking for
      10-12 minute lightning talk or demo sessions covering the following:
    </p>
    <br />
    <ul>
      <li>
        Showing how you used or built upon Open-Source tooling from the GSF
      </li>
      <li>How you've built a Green Software community in your organisation</li>
      <li>
        Talking in-depth about an insight from the State of Green Software
        report
      </li>
      <li>Showcase the best of your local or regional community group</li>
      <li>
        Telling us what you've learned as a GSF Member (GSF member orgs only)
      </li>
    </ul>
    <a
      style="margin-top: 2rem;"
      class="button"
      href="https://grnsft.org/decarb/speakers"
      target="_blank"
      rel="noopener noreferrer">Submit a session</a
    >
  </div>
  <div>
    <img src="/images/call-for-speakers.svg" alt="Call For Speakers" />
  </div>
</section>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
    align-items: end;
  }

  h1 span {
    color: #aecc53;
    display: block;
  }
  img {
    height: 300px;
    margin: auto;
  }
  @media (max-width: 640px) {
    .wrapper {
      display: block;
    }
  }
</style>
