<section id="register" class="container">
  <div class="illustration left">
    <img src="/images/hero-left.svg" alt="Trees & Plants" />
  </div>
  <div class="content">
    <div class="logo">
      <img src="/images/logo.svg" alt="" />
    </div>
    <h1 class="title">Decarbonize <br /> Software</h1>
    <p class="subtitle">The latest advancements in green software</p>
    <p class="time" id="time">November 10th - 5:00-7:00pm GMT - Online</p>
    <div id="mc_embed_signup">
      <form
        action="https://foundation.us5.list-manage.com/subscribe/post?u=ddc99c7db248c3df0ef4f7d24&id=404bf38b27&f_id=006280e9f0"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_self"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input
              type="email"
              value=""
              name="EMAIL"
              class="required email"
              id="mce-EMAIL"
              placeholder="example@domain.com"
              required
            />
            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
          </div>
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              value="1"
              name="group[383329][1]"
              id="mce-group[383329]-383329-0"
            />
            <span
              >Also subscribe to the Green Software Foundation newsletter</span
            >
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none">
            </div>
            <div
              class="response"
              id="mce-success-response"
              style="display:none"
            >
            </div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input
              type="text"
              name="b_ddc99c7db248c3df0ef4f7d24_404bf38b27"
              tabindex="-1"
              value=""
            />
          </div>
          <div class="clear">
            <input
              type="submit"
              value="Register"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button"
            />
          </div>
        </div>
      </form>
    </div>
    <script
      type="text/javascript"
      src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
    ></script><script type="text/javascript">
      (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = "EMAIL";
        ftypes[0] = "email";
        fnames[1] = "FNAME";
        ftypes[1] = "text";
        fnames[2] = "LNAME";
        ftypes[2] = "text";
        fnames[3] = "ADDRESS";
        ftypes[3] = "address";
        fnames[4] = "PHONE";
        ftypes[4] = "phone";
      })(jQuery);
      var $mcj = jQuery.noConflict(true);
    </script>
    <!--End mc_embed_signup-->
  </div>
  <div class="illustration right">
    <img src="/images/hero-right.svg" alt="Trees & Plants" />
  </div>
  <div class="illustration-mobile">
    <img src="/images/hero-mobile.svg" alt="Trees & Plants" />
  </div>
</section>
<script>
  const dateStart = new Date("November 10, 2022 17:00:00 GMT");
  const dateEnd = new Date("November 10, 2022 19:00:00 GMT");
  const formatedDate = dateStart.toLocaleString("en-US", {
    month: "long",
    day: "2-digit",
  });
  const timezone = dateStart
    .toLocaleString("en-US", {
      timeZoneName: "short",
    })
    .split(" ")
    .pop();

  const formatedTimeStart = dateStart.toLocaleString("en-US", {
    hour: "numeric",
    minute: "numeric",
  });

  const formatedTimeEnd = dateEnd.toLocaleString("en-US", {
    hour: "numeric",
    minute: "numeric",
  });
  const nth = function (d: number) {
    if (d > 3 && d < 21) return "th";
    switch (d % 10) {
      case 1:
        return "st";
      case 2:
        return "nd";
      case 3:
        return "rd";
      default:
        return "th";
    }
  };
  const timeElement = document.getElementById("time");
  if (timeElement) {
    timeElement.innerHTML = `${formatedDate}${nth(
      dateStart.getDate()
    )} - (${formatedTimeStart} - ${formatedTimeEnd}) ${timezone}  - Online`;
  }
</script>
<style>
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
  }
  .illustration {
    margin-top: 112px;
  }
  .content {
    text-align: center;
  }
  .logo {
    margin-bottom: 32px;
  }
  .logo img {
    margin: auto;
    width: 130px;
  }
  .illustration-mobile {
    display: none;
    margin-top: 64px;
  }
  .title {
    font-weight: 900;
    font-size: 73px;
    line-height: 91%;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #aecc53;
    margin-bottom: 32px;
  }
  .time {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #c8d3dd;
    margin-bottom: 40px;
  }
  .mc-field-group {
    width: 360px;
    margin: auto;
    padding: 0;
  }
  .mc-field-group input {
    background: #11283c;
    border: none;
    padding: 16px;
    color: inherit;
    font-size: 16px;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-family: "Nunito Sans";
    width: 100%;
    border: 2px solid transparent;
  }
  .mc-field-group input:focus {
    box-shadow: 0 0 0 3px rgb(145 167 188 / 50%);
  }
  .mc-field-group input::placeholder {
    color: #ffffff;
    opacity: 0.3;
  }
  :global(.mce_inline_error) {
    background-color: transparent;
    margin-bottom: 0;
  }
  .button-wrapper {
    text-align: center;
    margin-top: 24px;
  }
  .button {
    background-color: #aecc53;
    border: none;
    padding: 12px 32px;
    color: #111827;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    margin: 0;
    height: initial;
    border-radius: 0;
  }
  .button:focus {
    box-shadow: 0 0 0 3px rgb(174 204 83 / 50%);
  }
  :global(#mc_embed_signup input.mce_inline_error) {
    border-color: #f13a38;
  }
  :global(#mc_embed_signup div.mce_inline_error) {
    color: #f13a38;
    font-size: 12px;
    margin-top: 4px;
    background: none;
  }
  .checkbox-wrapper {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  #mce-responses {
    width: 360px;
    margin: auto;
  }
  #mce-success-response {
    background: #aecc53;
    color: #111827;
    font-weight: 600;
    margin-bottom: 32px;
    padding: 16px 0;
  }

  @media (max-width: 1440px) {
    .container {
      display: block;
    }
    .illustration {
      margin-top: 32px;
      position: absolute;
      bottom: -100px;
      width: 300px;
      z-index: 0;
    }
    .illustration.left {
      left: 0;
    }
    .illustration.right {
      right: 0;
    }
    .content {
      z-index: 1;
      position: relative;
    }
  }
  @media (max-width: 640px) {
    .container {
      margin-top: 40px;
      padding: 0 32px;
      display: block;
    }
    .logo {
      width: 80px;
      margin: auto;
      margin-bottom: 16px;
    }
    .illustration {
      display: none;
    }
    .illustration-mobile {
      display: block;
    }
    .illustration-mobile img {
      margin: auto;
    }
    .title {
      font-size: 30px;
      line-height: 30px;
    }
    .subtitle {
      font-size: 16px;
      line-height: 24px;
    }
    .time {
      font-size: 16px;
      line-height: 24px;
    }
    .mc-field-group {
      max-width: 320px;
      width: 100%;
    }
    .mc-field-group input {
      padding: 12px;
      font-size: 14px;
    }
  }
</style>
