<section id="register" class="container">
  <div class="illustration left">
    <img src="/images/hero-left.svg" alt="Trees & Plants" />
  </div>
  <div class="content">
    <div class="logo">
      <img src="/images/logo.svg" alt="" />
    </div>
    <h1 class="title">Decarbonize <br /> Software</h1>
    <p class="subtitle">The latest advancements in green software</p>
    <p class="time" id="time"></p>
    <!-- Begin JW Player Video Player - Cloud Hosted code -->
    <script src="https://cdn.jwplayer.com/libraries/queE6nQa.js"></script>
    <style>
      .jw-state-idle .jw-controls {
        background: rgba(0, 0, 0, 0) !important;
      }
      .jw-controls-backdrop {
        background: rgba(0, 0, 0, 0) !important;
      }
    </style>

    <div id="track04">Loading the player...</div>
    <script type="text/javascript">
      // wait for the DOM to be loaded
      document.addEventListener("DOMContentLoaded", function (event) {
        var playerInstance = jwplayer("track04");
        playerInstance.setup({
          file: "https://cdn3.wowza.com/1/ZklNKzdmSlpSd0dn/TmlyTU1y/hls/live/playlist.m3u8",
          image:
            "https://e3videos.s3-us-west-2.amazonaws.com/carbon-hack-22.png",
          title: "",
          mediaid: "V0EzdIgr",
          androidhls: "true",
          controls: "true",
          width: "100%",
          aspectratio: "16:9",
          primary: "html5",
          sharing: {
            heading: "Sharing hashtag for Carbon Hack 22 - #CarbonHack22",
          },
        });
      });
    </script>
    <!-- End JWPlayer Video Player code -->
  </div>
  <div class="illustration right">
    <img src="/images/hero-right.svg" alt="Trees & Plants" />
  </div>
  <div class="illustration-mobile">
    <img src="/images/hero-mobile.svg" alt="Trees & Plants" />
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1440px;
    margin: auto;

    margin-top: 32px;
  }
  .illustration {
    margin-top: 112px;
  }
  .content {
    text-align: center;
    flex: 1;
    padding: 0 32px;
  }
  .logo {
    margin-bottom: 32px;
  }
  .logo img {
    margin: auto;
    width: 130px;
  }
  .illustration-mobile {
    display: none;
    margin-top: 64px;
  }
  .title {
    font-weight: 900;
    font-size: 73px;
    line-height: 91%;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #aecc53;
    margin-bottom: 32px;
  }
  .time {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #c8d3dd;
    margin-bottom: 40px;
  }
  .mc-field-group {
    width: 360px;
    margin: auto;
    padding: 0;
  }
  .mc-field-group input {
    background: #11283c;
    border: none;
    padding: 16px;
    color: inherit;
    font-size: 16px;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-family: "Nunito Sans";
    width: 100%;
    border: 2px solid transparent;
  }
  .mc-field-group input:focus {
    box-shadow: 0 0 0 3px rgb(145 167 188 / 50%);
  }
  .mc-field-group input::placeholder {
    color: #ffffff;
    opacity: 0.3;
  }
  :global(.mce_inline_error) {
    background-color: transparent;
    margin-bottom: 0;
  }
  .button-wrapper {
    text-align: center;
    margin-top: 24px;
  }
  .button {
    background-color: #aecc53;
    border: none;
    padding: 12px 32px;
    color: #111827;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    margin: 0;
    height: initial;
    border-radius: 0;
  }
  .button:focus {
    box-shadow: 0 0 0 3px rgb(174 204 83 / 50%);
  }
  :global(#mc_embed_signup input.mce_inline_error) {
    border-color: #f13a38;
  }
  :global(#mc_embed_signup div.mce_inline_error) {
    color: #f13a38;
    font-size: 12px;
    margin-top: 4px;
    background: none;
  }
  :global(#track04) {
    max-width: 840px;
    margin: auto;
  }
  .checkbox-wrapper {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  #mce-responses {
    width: 360px;
    margin: auto;
  }
  #mce-success-response {
    background: #aecc53;
    color: #111827;
    font-weight: 600;
    margin-bottom: 32px;
    padding: 16px 0;
  }

  @media (max-width: 1440px) {
    .container {
      display: block;
    }
    .illustration {
      display: none;
    }
    /* .illustration.left {
      left: 0;
    }
    .illustration.right {
      right: 0;
    } */
    .content {
      z-index: 1;
      position: relative;
    }
  }
  @media (max-width: 640px) {
    .container {
      margin-top: 40px;
      padding: 0 32px;
      display: block;
    }
    .content {
      padding: 0;
    }
    .logo {
      width: 80px;
      margin: auto;
      margin-bottom: 16px;
    }
    .illustration {
      display: none;
    }
    /* .illustration-mobile {
      display: block;
    } */
    .illustration-mobile img {
      margin: auto;
    }
    .title {
      font-size: 30px;
      line-height: 30px;
    }
    .subtitle {
      font-size: 16px;
      line-height: 24px;
    }
    .time {
      font-size: 16px;
      line-height: 24px;
    }
    .mc-field-group {
      max-width: 320px;
      width: 100%;
    }
    .mc-field-group input {
      padding: 12px;
      font-size: 14px;
    }
  }
</style>
<script>
  // Count down to 22nd of April 2023
  var countDownDate = new Date("Nov 10, 2022 17:00:00 GMT").getTime();
  var countDownDateEnd = new Date("Nov 10, 2022 19:00:00 GMT").getTime();

  // Update the count down every 1 second
  var x = setInterval(function () {
    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;
    var distanceEnd = countDownDateEnd - now;
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("time").innerHTML =
      "Live in " + hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0 && distanceEnd > 0) {
      clearInterval(x);
      document.getElementById("time").innerHTML = "Live now";
    } else if (distanceEnd < 0) {
      clearInterval(x);
      document.getElementById("time").innerHTML = "Livestream Ended";
    }
  }, 1000);
</script>
