<section id="about">
  <div class="container">
    <h1 class="section-title">
      Online Event

      <br />
      <span class="subtitle"
        >By <a
          href="https://greensoftware.foundation"
          target="_blank"
          rel="noopener noreferrer">Green Software Foundation</a
        >
      </span>
    </h1>
    <div class="content">
      <h2>
        Combat climate change using green software principles and best
        practices.
      </h2>
      <p>
        Decarbonize Software is an annual event by the Green Software Foundation
        showcasing the advancements in Green Software by the community. After an
        incredible 2022 event where we announced the Software Carbon Intensity
        Specification, our new Linux Foundation training program and our
        catalogue of Green Software Patterns - we're handing much of the 2023
        event to our community to see what you built with the portfolio of tools
        from the GSF. We're also excited to share what we've been up to at the
        Foundation.
      </p>
      <p style="font-weight: bold;">
        Our 2023 event will take place on 16th November 2023.
      </p>
    </div>
  </div>
</section>
<style>
  section {
    text-align: center;
    position: relative;
  }
  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("/images/info-left.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
    pointer-events: none;
  }
  section::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("/images/info-right.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
    pointer-events: none;
  }

  .subtitle {
    font-size: 1.25rem;
  }
  .subtitle a {
    color: #aecc53;
    text-decoration: none;
  }
  .separator {
    margin-bottom: 2rem;
  }
  .content {
    max-width: 840px;
    margin: auto;
  }
  .content h2 {
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .content p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    padding: 0 6rem;
  }
  @media (max-width: 1024px) {
    .subtitle {
      font-size: 1rem;
    }
    .content {
      max-width: 768px;
    }
    .content h2 {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
    .content p {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
  @media (max-width: 768px) {
    section::before,
    section::after {
      opacity: 0.2;
    }
  }
</style>
