<section id="about">
  <div class="container">
    <h1 class="section-title">
      Online Event

      <br />
      <span class="subtitle"
        >By <a
          href="https://greensoftware.foundation"
          target="_blank"
          rel="noopener noreferrer">Green Software Foundation</a
        >
      </span>
    </h1>
    <div class="content">
      <h2>
        Decarbonize Software 2023 <br />
        Redefining the future of software
      </h2>
      <p>
        Decarbonize Software takes place on 16th November 2023. This digital
        event is your all-access pass to see the impressive strides taken in
        making software more environmentally friendly and climate-conscious.
        It's an open invitation for both seasoned sustainability advocates and
        those new to the cause, all poised to make a real impact as climate
        champions in tech. Decarbonize Software is open to all and features the
        voices of our community, as well as the latest updates from the Green
        Software Foundation.
      </p>
      <h3>Unveiling Our Vision</h3>
      <p>
        With COP28 kicking off on 30th November in Dubai, we wanted to highlight
        projects which are driving momentum towards a low-emission and
        climate-resilient world. At COP28, global leaders will discuss how to
        reduce global Green House Gas emissions by 43% by 2030. In sync with
        this ambitious goal, Decarbonize Software is our platform to position
        software at the forefront of climate action.
      </p>
      <p>
        On <strong>16th November</strong>, the Green Software Foundation will
        bring software practitioners across the globe together to highlight big
        wins and to see what's possible in the future. This event will also mark
        the launch of new tools and resources by the Foundation to support
        individual contributors across industry and academia, propelling an even
        more significant reduction in software's carbon footprint.
      </p>
      <p>
        Sign up now to receive notifications about the event, our
        call-for-speakers and more. Decarbonize Software is a digital (online)
        event. There is no cost to attend, and the event is open to all.
        <a
          href="https://greensoftware.foundation/code-of-conduct"
          target="_blank"
          rel="noopener noreferrer">View our Code of Conduct</a
        >.
      </p>
      <a href="#register" class="button">Reserve Your Spot</a>
    </div>
  </div>
</section>
<style>
  section {
    text-align: center;
    position: relative;
  }
  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("/images/info-left.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
    pointer-events: none;
  }
  section::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("/images/info-right.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
    pointer-events: none;
  }

  .subtitle {
    font-size: 1.25rem;
  }
  a {
    color: #aecc53;
    text-decoration: none;
  }
  .separator {
    margin-bottom: 2rem;
  }
  .content {
    max-width: 840px;
    margin: auto;
  }
  .content h2 {
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .content p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    padding: 0 6rem;
  }
  .content h3 {
    color: #aecc53;
    margin-bottom: 1rem;
  }
  @media (max-width: 1024px) {
    .subtitle {
      font-size: 1rem;
    }
    .content {
      max-width: 768px;
    }
    .content h2 {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
    .content p {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
  @media (max-width: 768px) {
    section::before,
    section::after {
      opacity: 0.2;
    }
  }
</style>
