<section>
  <h2>Next Steps</h2>
  <div class="content">
    <p>
      Be part of the green software movement, fill out this <a
        href="http://grnsft.org/sogs/survey"
        target="_blank"
        rel="noopener noreferrer"
      >
        5 min survey</a
      >
    </p>
    <p>
      Keep up to date with the latest happenings in green software,
      <a
        href="http://grnsft.org/newsletter"
        target="_blank"
        rel="noopener noreferrer"
      >
        join our newsletter</a
      >
    </p>
    <p>
      Catchup on all the announcements we're making for COP27, read our
      <a href="http://grnsft.org/bon" target="_blank" rel="noopener noreferrer">
        book of news</a
      >
    </p>
  </div>
</section>
<style>
  section {
    margin: 2rem 0;
  }
  h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 16px;
    text-align: center;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
  }
  .content p {
    font-size: 18px;
    background-color: #09121a;
    line-height: 1.5;
    margin: 0;
    padding: 32px;
  }
  .content p a {
    color: #aecc53;
    text-decoration: none;
    display: block;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .content {
      grid-template-columns: 1fr;
      padding: 0 32px;
    }
  }
</style>
