<section class="container">
  <div class="content">
    <div class="quote-icon">
      <img src="/images/quote-icon.svg" alt="Quote Icon" />
    </div>
    <div>
      <p class="quote">
        The developments in green software demonstrate an increasing effort by
        the software industry to coordinate and mobilize action to reduce carbon
        emissions
      </p>
      <p class="author">Asim Hussain</p>
      <p class="position">Chairperson & Executive Director</p>
    </div>
  </div>
</section>
<style>
  section {
    margin-top: 1rem;
  }

  .top {
    margin-bottom: 6rem;
  }

  .content {
    max-width: 840px;
    margin: auto;
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 2.75rem;
  }
  .quote {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
  .author {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .position {
    font-size: 1.125rem;
    color: #aecc53;
  }
  @media (max-width: 1024px) {
    .quote {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
    .author {
      font-size: 1.25rem;
    }
    .position {
      font-size: 1.125rem;
    }
  }
  @media (max-width: 640px) {
    .content {
      grid-template-columns: 3rem 1fr;
      gap: 1rem;
    }
    .quote {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    .author {
      font-size: 1rem;
    }
    .position {
      font-size: 0.875rem;
    }
  }
</style>
