<section>
  <img
    class="separator top"
    src="/images/separator-horizontal.svg"
    alt="Separator"
  />
  <div class="content">
    <div>
      <img src="/images/quote-icon.svg" alt="Quote Icon" />
    </div>
    <div>
      <p class="quote">
        The developments in green software demonstrate an increasing effort by
        the software industry to coordinate and mobilize action to reduce carbon
        emissions
      </p>
      <p class="author">Asim Hussain</p>
      <p class="position">Chairperson & Executive Director</p>
    </div>
  </div>
</section>
<style>
  section {
    margin-top: 16px;
  }

  .top {
    margin-bottom: 96px;
  }

  .content {
    max-width: 840px;
    margin: auto;
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 44px;
  }
  .quote {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
  }
  .author {
    font-weight: 700;
    font-size: 20px;
  }
  .position {
    font-size: 18px;
  }
</style>
