---
import "@fontsource/nunito-sans/400.css";
import "@fontsource/nunito-sans/600.css";
import "@fontsource/nunito-sans/700.css";
import "@fontsource/nunito-sans/800.css";
import "@fontsource/nunito-sans/900.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>Decarbonize Software | Online | 10th November</title>
    <meta
      name="title"
      content="Decarbonize Software | Online | 10th November"
    />
    <meta
      name="description"
      content="Green Software Foundation is excited to host an event during COP27 to highlight advancements in decarbonizing software."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://decarb.greensoftware.foundation/"
    />
    <meta
      property="og:title"
      content="Decarbonize Software | Online | 10th November"
    />
    <meta
      property="og:description"
      content="Green Software Foundation is excited to host an event during COP27 to highlight advancements in decarbonizing software."
    />
    <meta
      property="og:image"
      content="https://decarb.greensoftware.foundation/images/og-image.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://decarb.greensoftware.foundation/"
    />
    <meta
      property="twitter:title"
      content="Decarbonize Software | Online | 10th November"
    />
    <meta
      property="twitter:description"
      content="Green Software Foundation is excited to host an event during COP27 to highlight advancements in decarbonizing software."
    />
    <meta
      property="twitter:image"
      content="https://decarb.greensoftware.foundation/images/og-image.jpg"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J4QL1X3BWV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-J4QL1X3BWV");
    </script>
  </head>
  <body>
    <main>
      <nav>
        <a href="#about">About</a>
        <a href="#agenda">Agenda</a>
        <a href="#register">Register</a>
      </nav>
      <slot />
    </main>
    <footer>
      <div class="logo">
        <img src="/images/logo-gsf.svg" alt="GSF Logo" />
      </div>
      <div class="links">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://greensoftware.foundation/policy/terms">Privacy Policy</a
        > | <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://greensoftware.foundation/code-of-conduct"
          >Code of Conduct</a
        >
      </div>
      <p class="copyrights">
        Copyright © 2022 Joint Development Foundation Projects, LLC, <br />
        Green Software Foundation Series
      </p>
    </footer>
    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      * {
        margin: 0;
      }

      html,
      body {
        height: 100%;
      }
      html {
        font-family: "Nunito Sans", sans-serif;
        background-color: #0b161f;
        color: #fbfcf6;
        scroll-behavior: smooth;
      }
      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }

      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }

      #root,
      #__next {
        isolation: isolate;
      }
      .separator {
        margin: auto;
      }

      footer {
        text-align: center;
        padding: 54px 0;
      }
      footer img {
        margin: auto;
      }
      footer .logo {
        margin-bottom: 18px;
      }
      footer .links {
        margin-bottom: 8px;
      }
      footer .links a {
        color: inherit;
        font-size: 14px;
      }
      footer .copyrights {
        font-size: 14px;
      }
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 32px;
        background-color: #e9edf2;
        font-size: 16px;
        font-weight: 700;
        width: 400px;
        position: sticky;
        margin-top: 16px;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        border-radius: 50px;
        box-shadow: 0px 4px 8px 4px #05080c94;
      }
      nav a {
        color: #11283c;
        text-decoration: none;
      }
      @media (max-width: 640px) {
        nav {
          bottom: 0;
          top: initial;
          position: fixed;
          width: 100%;
          border-radius: 0;
          padding: 8px 32px;
          font-size: 14px;
        }
        footer {
          padding: 64px;
          padding-top: 32px;
        }
        footer .logo {
          width: 120px;
          margin: auto;
          margin-bottom: 16px;
        }
        footer .links a,
        footer .copyrights {
          font-size: 12px;
        }
      }
    </style>
  </body>
</html>
