---
import "@fontsource/nunito/400.css";
import "@fontsource/nunito/600.css";
import "@fontsource/nunito/700.css";
import "@fontsource/nunito/800.css";
import "@fontsource/nunito/900.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>Decarbonize Software | Coming in November 2023</title>
    <meta
      name="title"
      content="Decarbonize Software | Coming in November 2023"
    />
    <meta
      name="description"
      content="Green Software Foundation is excited to host an event during COP27 to highlight advancements in decarbonizing software."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://decarb.greensoftware.foundation/"
    />
    <meta
      property="og:title"
      content="Decarbonize Software | Coming in November 2023"
    />
    <meta
      property="og:description"
      content="Green Software Foundation is excited to host an event during COP27 to highlight advancements in decarbonizing software."
    />
    <meta
      property="og:image"
      content="https://decarb.greensoftware.foundation/images/og-image.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://decarb.greensoftware.foundation/"
    />
    <meta
      property="twitter:title"
      content="Decarbonize Software | Coming in November 2023"
    />
    <meta
      property="twitter:description"
      content="Green Software Foundation is excited to host an event during COP27 to highlight advancements in decarbonizing software."
    />
    <meta
      property="twitter:image"
      content="https://decarb.greensoftware.foundation/images/og-image.jpg"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J4QL1X3BWV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-J4QL1X3BWV");
    </script>
  </head>
  <body>
    <main>
      <!-- <nav>
        <a href="#about">About</a>
        <a href="#agenda">Agenda</a>
        <a href="#register" class="cta">Register</a>
      </nav> -->
      <slot />
    </main>
    <footer>
      <div class="logo">
        <img src="/images/logo-gsf.svg" alt="GSF Logo" />
      </div>
      <div class="links">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://greensoftware.foundation/policy/terms">Privacy Policy</a
        > | <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://greensoftware.foundation/code-of-conduct"
          >Code of Conduct</a
        >
      </div>
      <p class="copyrights">
        Copyright © 2023 Joint Development Foundation Projects, LLC, <br />
        Green Software Foundation Series
      </p>
    </footer>
    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      * {
        margin: 0;
      }

      html,
      body {
      }
      html {
        font-family: "Nunito", sans-serif;
        background-color: #0b161f;
        color: #fbfcf6;
        scroll-behavior: smooth;
      }
      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }

      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }

      #root,
      #__next {
        isolation: isolate;
      }
      .separator {
        margin: 4rem auto;
      }

      footer {
        text-align: center;
        padding: 4rem 0;
      }
      footer img {
        margin: auto;
      }
      footer .logo {
        margin-bottom: 1.125rem;
      }
      footer .links {
        margin-bottom: 0.5rem;
      }
      footer .links a {
        color: inherit;
        font-size: 0.875rem;
      }
      footer .copyrights {
        font-size: 0.875rem;
      }
      nav {
        grid-auto-flow: column;
        background-color: #e9edf2;
        font-size: 1rem;
        font-weight: 700;
        position: sticky;
        top: 1rem;
        z-index: 100;
        border-radius: 0.5rem;
        box-shadow: 0px 4px 0.5rem 4px #05080c94;
        text-align: center;
        display: inline-grid;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.25rem;
      }
      nav a {
        color: #11283c;
        text-decoration: none;
        padding: 1rem 2rem;
      }
      input,
      button {
        border-radius: 0.5rem;
      }
      .container {
        width: 840px;
        margin-left: auto;
        margin-right: auto;
      }
      .button {
        background-color: #aecc53;
        border: none;
        padding: 0.75rem 2rem;
        color: #111827;
        font-weight: 700;
        font-size: 1rem;
        outline: none;
        transition: box-shadow 0.2s ease-in-out;
        cursor: pointer;
        margin: 0;
        height: initial;
        text-decoration: none;
        border-radius: 0.5rem;
        display: inline-block;
      }
      .button:focus {
        box-shadow: 0 0 0 3px rgb(174 204 83 / 50%);
      }
      .cta {
        background-color: #aecc53;
        border-radius: 6px;
      }
      .section-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: 900;
        line-height: 1.2;
      }
      .section-title span {
        color: #aecc53;
        display: block;
      }
      @media (max-width: 1024px) {
        .container {
          width: 100%;
          padding: 0 4rem;
        }
        .button {
          font-size: 0.875rem;
          padding: 0.5rem 1rem;
        }
        .section-title {
          font-size: 1.5rem;
        }
        footer .logo {
          width: 120px;
          margin-left: auto;
          margin-right: auto;
        }
        footer .links a,
        footer .copyrights {
          font-size: 0.75rem;
        }
      }
      @media (max-width: 640px) {
        .container {
          padding: 0 2rem;
        }
      }
    </style>
  </body>
</html>
